VITE_API_BASE_URL=http://localhost:5000/api

VITE_DEMO_SUPER_ADMIN_EMAIL=superadmin@clubops.ai
VITE_DEMO_SUPER_ADMIN_PASSWORD=Test@12345

VITE_DEMO_CLUB_ADMIN_EMAIL=clubadmin@example.com
VITE_DEMO_CLUB_ADMIN_PASSWORD=Test@12345

VITE_DEMO_VOLUNTEER_EMAIL=volunteer@example.com
VITE_DEMO_VOLUNTEER_PASSWORD=Test@12345
